.gradle
/build/
/out/
signing.gpg
deploy_key
deploy_key.pub
gradle.properties.local

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

!gradle/wrapper/gradle-wrapper.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### IntelliJ IDEA ###
.idea/libraries
.idea/gradle.xml
.idea/workspace.xml
.idea/jsLibraryMappings.xml
.idea/tasks.xml
.idea/sonarlint/
.idea/dataSources.*
.idea/dataSources/
.idea/dictionaries/*
.idea/shelf/
