# Place the directory for your Android SDK it might be something like: "C\:\\Users\\<UserName>\\AppData\\Local\\Android\\Sdk" on windows
sdk.dir=

# https://docs.gradle.org/6.3/userguide/signing_plugin.html#sec:in-memory-keys
signingKeyId=
signingPassword=
# Starts with -----BEGIN PGP PRIVATE KEY BLOCK-----\n\n... - no apostrophes wrapping: ""
signingKey=

nexusUsername=
nexusPassword=