<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>

<body>
<div th:replace="fragments/layout :: header(${model != null} ? ${model.layout})">Dancing Goat</div>

<div class="container">
    <section th:replace="fragments/banner :: banner(${model.banner})"/>
    <div th:replace="fragments/latest-articles :: latestArticles(${model.latestArticles})"/>
</div>

<div th:replace="fragments/layout :: footer">&copy; 2020 The Static Templates</div>
</body>

</html>