<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="latestArticles(model)"
     class="row">

    <h1 class="title-tab">Latest articles</h1>

    <div class="article-tile article-tile-large">
        <div class="col-md-12 col-lg-6">
            <a th:href="${'/articles/' + model.mainArticle.getUrlPattern() }">
                <img class="article-tile-image"
                     th:title="${model.mainArticle.getTitle()}"
                     th:alt="${model.mainArticle.getTitle()}"
                     th:src="${model.mainArticle.getTeaserImage().get(0).getUrl()}"/>
            </a>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="article-tile-date"
                 th:text="${model.mainArticle.getPostDate()}"/>
            <div class="article-tile-content">
                <h2>
                    <a th:href="${'/articles/' + model.mainArticle.getUrlPattern() }"
                       th:text="${model.mainArticle.getTitle()}"/></a>
                </h2>
                <p class="article-tile-text lead-paragraph"
                   th:text="${model.mainArticle.getSummary()}"/>
            </div>
        </div>
    </div>

    <th:block th:each="article : ${model.otherArticles}">
        <div class="col-md-3">
            <div class="article-tile">
                <a th:href="${'/articles/' + article.getUrlPattern() }">
                    <img class="article-tile-image"
                         th:title="${article.getTitle()}"
                         th:alt="${article.getTitle()}"
                         th:src="${article.getTeaserImage().get(0).getUrl()}">
                </a>
                <div class="article-tile-date"
                     th:text="${article.getPostDate()}"/>
                <div class="article-tile-content">
                    <h2 class="h4">
                        <a th:href="${'/articles/' + article.getUrlPattern() }"
                           th:text="${article.getTitle()}"/>
                    </h2>
                    <p class="article-tile-text"
                       th:text="${article.getSummary()}"/>
                </div>
            </div>
        </div>
    </th:block>

    <!--    <div class="col-md-3">-->
    <!--        <div class="article-tile"><a href="/en-us/articles/23f71096-fa89-4f59-a3f9-970e970944ec"><img-->
    <!--                alt="Article Donate with us" class="article-tile-image"-->
    <!--                src="https://assets-us-01.kc-usercontent.com:443/975bf280-fd91-488c-994c-2f04416e5ee3/9b86141d-b667-4c35-82b1-826bc151d72a/donate-with-us-1080px.jpg"-->
    <!--                title="Article Donate with us"></a>-->
    <!--            <div class="article-tile-date">November 12</div>-->
    <!--            <div class="article-tile-content"><h2 class="h4"><a-->
    <!--                    href="/en-us/articles/23f71096-fa89-4f59-a3f9-970e970944ec">Donate with us</a></h2>-->
    <!--                <p class="article-tile-text">Dancing Goat regularly donates money to Children in Africa, a foundation-->
    <!--                    helping children with food, accommodation, education, and other essentials. Donate with us and-->
    <!--                    create a better world.</p></div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="col-md-3">-->
    <!--        <div class="article-tile"><a href="/en-us/articles/b2fea94c-73fd-42ec-a22f-f409878de187"><img-->
    <!--                alt="Article Origins of Arabica Bourbon" class="article-tile-image"-->
    <!--                src="https://assets-us-01.kc-usercontent.com:443/975bf280-fd91-488c-994c-2f04416e5ee3/1cfcb6c9-1fe6-4013-a0bb-b26f8ada2ebf/origins-of-arabica-bourbon-1080px.jpg"-->
    <!--                title="Article Origins of Arabica Bourbon"></a>-->
    <!--            <div class="article-tile-date">November 11</div>-->
    <!--            <div class="article-tile-content"><h2 class="h4"><a-->
    <!--                    href="/en-us/articles/b2fea94c-73fd-42ec-a22f-f409878de187">Origins of Arabica Bourbon</a></h2>-->
    <!--                <p class="article-tile-text">This one particular type of coffee, the Arabica Bourbon, is now sold only-->
    <!--                    in Japan. It has been brought back to life by enthusiasts after being almost forgotten for nearly-->
    <!--                    sixty years.</p></div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="col-md-3">-->
    <!--        <div class="article-tile"><a href="/en-us/articles/f4b3fc05-e988-4dae-9ac1-a94aba566474"><img-->
    <!--                alt="Article On Roasts" class="article-tile-image"-->
    <!--                src="https://assets-us-01.kc-usercontent.com:443/975bf280-fd91-488c-994c-2f04416e5ee3/f6daed1f-3f3b-4036-a9c7-9519359b9601/on-roasts-1080px.jpg"-->
    <!--                title="Article On Roasts"></a>-->
    <!--            <div class="article-tile-date">November 7</div>-->
    <!--            <div class="article-tile-content"><h2 class="h4"><a-->
    <!--                    href="/en-us/articles/f4b3fc05-e988-4dae-9ac1-a94aba566474">On Roasts</a></h2>-->
    <!--                <p class="article-tile-text">Roasting coffee beans can take from 6 to 13 minutes. Different roasting-->
    <!--                    times produce different types of coffee, with varying concentration of caffeine and intensity of the-->
    <!--                    original flavor.</p></div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="col-md-3">-->
    <!--        <div class="article-tile"><a href="/en-us/articles/117cdfae-52cf-4885-b271-66aef6825612"><img-->
    <!--                alt="Article Coffee processing techniques" class="article-tile-image"-->
    <!--                src="https://assets-us-01.kc-usercontent.com:443/975bf280-fd91-488c-994c-2f04416e5ee3/40edae81-37df-4d5e-8624-e2f7cfc50427/coffee-processing-techniques-1080px.jpg"-->
    <!--                title="Article Coffee processing techniques"></a>-->
    <!--            <div class="article-tile-date">November 2</div>-->
    <!--            <div class="article-tile-content"><h2 class="h4"><a-->
    <!--                    href="/en-us/articles/117cdfae-52cf-4885-b271-66aef6825612">Coffee processing techniques</a></h2>-->
    <!--                <p class="article-tile-text">Learn about the techniques of processing the products of coffee plants.-->
    <!--                    Different methods are used in different parts of the world depending mainly on their weather-->
    <!--                    conditions.</p></div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>